

/********** Base styles **********/
h1 {
  margin: 20px 40%;
}

p {
  border: 2px solid black;
  margin-bottom: 15px;

}
#p1 {
  background-color: #A52A2A;
  width: 80%;
  height: 300px;
  overflow:auto ;
}
#p2 {
  background-color: #DEB887;
  width: 80%;
  height: 300px;
  overflow:auto ;
}
#p3{
  background-color: grey;
  width: 80%;
  height: 300px;
  overflow:auto ;
}
a{
    margin: 2px 50%;
    font-size: larger;
  

  }

/********** Large devices only **********/
@media (min-width: 992px) {
  #p1 {
    width: 30%;
    height: 300px;
    float: right;
    margin: 0px 10px;
    overflow:auto ;

  }
  #p2 {
    width: 30%;
    height: 300px;
    float: right;
    margin: 0px 10px;
    overflow:auto ;
  }
  #p3{
    width: 30%;
    height: 300px;
    float: right;
    margin: 0px 10px;
    overflow:auto ;
  }
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #p1 {
    width: 45%;
    height: 300px;
    float: right;
    margin:0px 10px 10px 5px;
    overflow:auto ;
  }
  #p2 {
    width: 45%;
    height: 300px;
    margin:0px 10px 10px 5px;
    float: right;
    overflow:auto ;
  }
  #p3{
    width: 90%;
    height: 300px;
    overflow:auto ;

  
  }
 
}

